[Unit]
Description=Comprueba e instala actualizaciones para fire-truck-app
After=network-online.target
Wants=network-online.target
# Asegúrate de que tu app principal no arranque hasta que el updater termine
Before=app.service

[Service]
Type=oneshot
User=cosigein
Group=cosigein
TimeoutStartSec=5min
ExecStart=/home/cosigein/fire-truck-app/scripts/check_and_install_update.sh

[Install]
WantedBy=multi-user.target