[Unit]
Description=Comprueba e instala actualizaciones para fire-truck-app
After=basic.target
# Asegúrate de que tu app principal no arranque hasta que el updater termine


[Service]
Type=oneshot
User=cosigein
Group=cosigein
TimeoutStartSec=5min
ExecStart=/usr/bin/python3 /home/cosigein/fire-truck-app/setup.py

[Install]
WantedBy=multi-user.target