[Unit]
Description=Install pending application update on shutdown
DefaultDependencies=no
Requires=network-online.target
Before=network-pre.target shutdown.target reboot.target halt.target
After=app.service

[Service]
Type=oneshot
# Ejecuta el script de instalación. El script ya comprueba si hay algo que hacer.
ExecStart=/home/cosigein/fire-truck-app/scripts/install_update.sh
# Es importante que el servicio no falle si el script no hace nada
RemainAfterExit=yes

[Install]
# Este servicio se activa cuando el sistema entra en el objetivo de apagado
WantedBy=shutdown.target